/* universal styling */
* {
    box-sizing: border-box;
}

/* body and html styling */
body, html{
    margin:0;
    padding:0;
    }

/* body background color */
body{
    background:#ccc;
}

/* header styling */
.header {
    width:100%;
    background:#fff;
    border-color: #cccccc;
}

/* h1 styling within .header class */
.header h1 {
    display: block;
    margin:0;
    float:left;
    background: #4aaaa5;
    color: #fff;
    padding-bottom: 10px;
}

/* ul styling within header class*/
.header ul {
    display: block;
    margin:20px;
    float:right;
}

/* add clear fix to clear floats*/
.clearFix {
    clear:both;
    overflow: auto; 
}

/* add styling for navigation class*/
.navigation {    
    padding: 0px;
    width: 960px;
    margin: 0 auto;
}

/* h1 styling within navigation class */
.navigation h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding: 20px;
}

/* add section styling*/
section {
    padding: 10px;
}

/* add ul styling */
ul {
    margin:0;
    padding:0;
    list-style: none;
    padding-top:10px;
}

/* add li styling nested within ul*/
ul li {
    float:left;
}

/* add a tag styling nested within li and ul*/
ul li a {
    color:#777777;
    font-size:18px;
    text-decoration: none;
    padding:10px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

/* style teal class*/
.teal {
    color: #4aaaa5;
    padding: 10px;
    margin-bottom: 5px;
}

/* style hr tag */
hr {
    margin-bottom: 25px;
}

/* style main class */
.main {
    width:960px;
    margin:0 auto;
    background: #fff;
    margin-bottom: 25px;
}

/* style img within main class */
.main img {
    float: left;
    padding: 5px;
}

/* style p tag and copyright class */
p, .copyright {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica, sans-serif';
    line-height: 1.5;
    padding: 5px;
}

/* style copyright class within footer */
footer .copyright {
    display: inline-block;    
}

/* style footer - centers text */
footer {
    background: #666;    
    padding: 15px;      
    border-top: 5px solid #4aaaa5;
    text-align: center;
}

/* add button styling */
.button {
    background: #4aaaa5;
    color: #fff;
    margin: 10px;
}

/* styling for textboxes and text area */
.name, .email, .message {
    margin: 10px;
    width: 90%;
}
 /* column styling */
.col {
    float: left;
    width: 33.33%;
    padding: 5px;
    position: relative;
    overflow: auto;
  }
  
  /* clear floats after the rows */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  /* style images within col class */
  .col img {
    opacity: 0.8;
    width: 100%;
    border: 0 none;
  }

  /* style h3 within col class */
  .col h3 {
    position: absolute;
    bottom: 20px;
    width: 97%;
    padding: 10px;
    margin-bottom: 0;
    font-weight: 200;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;   
  }

